NODE_ENV=development
PORT=3000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost,https://localhost,capacitor://localhost,https://tsbtechgroup.com,https://www.tsbtechgroup.com
SUPABASE_URL=https://rsvpnryenpeudqnsifnn.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
